body {
	background-color: gray;
}

#title {
	font-style: Impact;
	font-size: 100px;
	text-align: center;
}

#table1 tr td{
	border: 1px solid black;
	border-collapse: collapse;
}

#row1 {
	text-align: center;
	font-style: Impact;
	font-size: 20px;
}

#thread1 {
	border: 1px solid black;
	border-collapse: collapse;
}
