body {
	background-color: gray;
}

#header {
	position: relative;
	top: -10px;
	background-color: #3c4543;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	height: 100px;
	width: 100%;
	background-color: white;
}

#title {
	font-family: Impact, Charcoal, sans-serif;
	font-weight: none;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: black;
	font-size: 50px
}

#navigation {
	
}

#homenav {
	list-style-type: none;
	position: relative;
	margin: -10px;
	top:10px;
	left:50%;
	margin-left:-254px;
}

#homenav li {
	position: relative;
	display: inline;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	padding: 5px;
	border-radius: 5px 5px;
	background-color: #cc0323;
}
